* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
}

.one {
    inline-size: 200px;
    block-size: 200px;
}

.flex {
    background-color: #aba;
    /* write declarations here */

}

.grid {
    background-color: #abb;
    /* enter declarations here */

}

/* .container2 ruleset removed because it was empty */

.two {
    background-color: #ace;
    block-size: 100px;
}

.container3 {
    display: flex;

}

.columns-3 {
    column-count: 3;
    /* write declaration here */

}

.three {
    margin: .25rem;
    background-color: #abd;
}